.background {
  height: 86vh;
  background-position: center;
  background-size: cover;
}
.large {
  font-size: 64px;
  width: 300px;
  line-height: 80%;
  text-transform: uppercase;
  background: #2b2d2e69;
  padding: 10px;
  border-radius: 10px;
  /* color: #3498db; */
  font-weight: bold;
}
.herotext {
  width: 50vw;
  padding: 70px;
  color: aliceblue;
  line-height: 160%;
}

.btnHero {
  background: #EAC107;
  background-image: linear-gradient(to bottom, #EAC107, #fffb00);
  border-radius: 28px;
  color: #000000;
  font-size: 16px;
  font-weight: bold;
  padding: 12px 20px 12px 20px;
  text-decoration: none;
  outline: none;
  border: none;
  width: 250px;
}

.btnHero:hover {
  background: #ffd900;
  text-decoration: none;
  outline: none;
  border: none;
}
